* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}


body {

    font-family: "inter";
    font-size: 62.5%;

    background-color: var(--bg-white) !important;
    color: var(--color-white);
}

/* ---------------------------- Home Header Started ----------------------------- */

header {

    width: 100%;
    height: 746px;
    margin-bottom: 10px;
    background: linear-gradient(248.24deg, #163E74 34.86%, #0078AA 99.26%);
    border-radius: 64px;
}

#header_otherPages {

    width: 100%;
    height: 126px;
    background: transparent !important;
    border-radius: 0px;
}

/* ---------------------------- home Navbar Started ----------------------------- */
header nav {

    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

header nav .parent_2 {

    width: 50%;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

header nav .parent_2 a {

    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-pure-white);
}

header nav .parent_2 a:hover {

    font-size: 18px;
    transition: all 0.4s;
    color: var(--color-black);
}

#header_otherPages nav .parent_2 a {

    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-black);
}

#header_otherPages nav .parent_2 a:hover {

    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-gray);
}

header nav .parent_3 {

    width: 147px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-yellow);
}

header nav .parent_3 button {

    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    color: var(--color-yellow);
    background-color: transparent;
    border: 1px solid var(--color-yellow);
}

header nav .parent_3 button:hover {

    width: 147px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-style: none;
    border-radius: 8px;
    transition: all 0.6s;
    border: 1px solid none;
    color: var(--color-dark-blue);
    background-color: var(--color-yellow);
}

/* ---------------------------- Home Navbar Ended ----------------------------- */


/* ---------------------------- Home Navbar 2 started ----------------------------- */

.nav2Box {

    display: none;
}

/* ---------------------------- Home Navbar 2 Ended ----------------------------- */


/* ---------------------------- Home Container_1 Started ----------------------------- */
.Container_1 {

    width: 100%;
    height: 586px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 126px;
}

.Container_1 .parent_1 {

    width: 30%;

    display: flex;
    flex-direction: column;
}

.Container_1 .parent_1 h1 {

    font-size: 56px;
    font-weight: 700;
    letter-spacing: -4%;
    line-height: 67.2px;
    text-transform: uppercase;
    color: var(--color-pure-white);
}

.Container_1 .parent_1 p {

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--color-light-gray)
}

.Container_1 .parent_1 .buttons {

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.Container_1 .parent_1 .buttons .view {

    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    border-style: none;
    border-radius: 8px;
    border: 1px solid none;
    color: var(--color-dark-blue);
    background-color: var(--color-yellow);
}

.Container_1 .parent_1 .buttons .view:hover {

    width: 147px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    transition: all 0.6s;
    color: var(--color-yellow);
    background-color: transparent;
    border: 1px solid var(--color-yellow);
}

.Container_1 .parent_1 .buttons .About {

    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    color: var(--color-yellow);
    background-color: transparent;
    border: 1px solid var(--color-yellow);
}

.Container_1 .parent_1 .buttons .About:hover {

    width: 147px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-style: none;
    border-radius: 8px;
    transition: all 0.6s;
    border: 1px solid none;
    color: var(--color-dark-blue);
    background-color: var(--color-yellow);
}

.Container_1 .parent_2 {

    width: 40%;

}

.Container_1 .parent_2 img {

    width: 100%;
    border-radius: 28px;

}

/* ---------------------------- Home Container_1 Ended ----------------------------- */
/* ---------------------------- Home Header ended ----------------------------- */


/* ---------------------------- Home Benefits started ----------------------------- */

main {

    padding: 0px 100px;
}

main .Benefits {

    width: 100%;
    margin: 50px 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

main .Benefits .container_1 {

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .Benefits .container_1 .parent_1 {

    width: 84px;
    height: 41px;
    font-size: 14px;
    font-weight: 700;
    font-style: Bold;
    line-height: 21px;
    text-align: center;
    letter-spacing: -4%;
    border-radius: 42px;
    color: var(--bg-blue);
    background-color: var(--color-cream);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main .Benefits .container_1 .parent_2 {

    width: 100%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    font-style: Bold;
    line-height: 48px;
    text-align: center;
    letter-spacing: -4%;
    color: var(--color-black);
}

main .Benefits .container_1 .parent_2 span {

    color: var(--color-gray);
}

main .Benefits .container_1 .parent_3 {

    width: 36%;
    margin: 0 auto;
}

main .Benefits .container_1 .parent_3 p {

    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4%;
    text-align: center;
    color: var(--color-gray);

}


main .Benefits .container_2 {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main .Benefits .container_2 .parent_1 {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
}

main .Benefits .container_2 .parent_1 .child_1 {

    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

main .Benefits .container_2 div div div h1 {

    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    color: var(--color-black);
    text-transform: uppercase;

}

main .Benefits .container_2 div div div p {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--color-gray);

}

main .Benefits .container_2 .parent_1 .child_2 {

    width: 38%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;

}

main .Benefits .container_2 .parent_1 .child_3 {

    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}


main .Benefits .container_2 .parent_2 {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
}

main .Benefits .container_2 .parent_2 .child_1 {

    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

main .Benefits .container_2 .parent_2 .child_2 {

    width: 23%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;

}

main .Benefits .container_2 .parent_2 .child_3 {

    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

/* ---------------------------- Home Benefits ended ----------------------------- */


/* ---------------------------- Home testimonials started ----------------------------- */


main .testimonials {

    width: 100%;
    margin: 50px 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

main .testimonials .container_1 {

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .testimonials .container_1 .parent_1 {

    width: 120px;
    height: 41px;
    font-size: 14px;
    font-weight: 700;
    font-style: Bold;
    line-height: 21px;
    text-align: center;
    letter-spacing: -4%;
    border-radius: 42px;
    color: var(--bg-blue);
    background-color: var(--color-cream);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main .testimonials .container_1 .parent_2 {

    width: 100%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    font-style: Bold;
    line-height: 48px;
    text-align: center;
    letter-spacing: -4%;
    color: var(--color-black);
}

main .testimonials .container_1 .parent_2 span {

    color: var(--color-gray);
}

main .testimonials .container_1 .parent_3 {

    width: 36%;
    margin: 0 auto;
}

main .testimonials .container_1 .parent_3 p {

    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4%;
    text-align: center;
    color: var(--color-gray);

}



main .testimonials .container_2 {

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

main .testimonials .container_2 .parent_1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main .testimonials .container_2 .parent_1 .child_1 {

    width: 32%;
    height: 233px;
    border-radius: 24px;
    background-color: var(--bg-pure-white);
}

main .testimonials .container_2 .parent_1 .child_1 .Ayesha {

    display: flex;
    flex-direction: column;
    padding: 24px 32px 24px 16px;
}

main .testimonials .container_2 .parent_1 .child_1 .Ayesha .detail_1 {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--color-gray);
}

main .testimonials .container_2 .parent_1 .child_1 .Ayesha .detail_2 {

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

main .testimonials .container_2 .parent_1 .child_1 .Ayesha .detail_2 .img_ayesha {

    width: 32px;
}

main .testimonials .container_2 .parent_1 .child_1 .Ayesha .detail_2 .img_ayesha img {

    width: 100%;
}

main .testimonials .container_2 .parent_1 .child_1 .Ayesha .detail_2 .para_ayesha {

    display: flex;
    flex-direction: column;
    gap: 4px;
}

main .testimonials .container_2 .parent_1 .child_1 .Ayesha .detail_2 .para_ayesha h1 {

    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    text-transform: uppercase;
    color: var(--color-black);
}

main .testimonials .container_2 .parent_1 .child_1 .Ayesha .detail_2 .para_ayesha p {

    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 4%;
    color: var(--color-gray);
}

main .testimonials .container_2 .parent_1 .child_2 {

    width: 25%;
    height: 233px;
    border-radius: 24px;
    background-color: var(--bg-green);
}

main .testimonials .container_2 .parent_1 .child_2 .Passing {

    padding: 24px 33px 24px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

main .testimonials .container_2 .parent_1 .child_2 .Passing h1 {

    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -4%;
    text-transform: uppercase;

}

main .testimonials .container_2 .parent_1 .child_2 .Passing p {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--color-light-gray-gray);

}


main .testimonials .container_2 .parent_1 .child_3 {

    width: 38%;
    height: 233px;
    border-radius: 24px;
    background-color: var(--bg-pure-white);
}

main .testimonials .container_2 .parent_1 .child_3 {

    width: 38%;
    height: 233px;
    border-radius: 24px;
    background-color: var(--bg-pure-white);
}

main .testimonials .container_2 .parent_1 .child_3 .farhan {

    display: flex;
    flex-direction: column;
    padding: 24px 32px 24px 16px;
}

main .testimonials .container_2 .parent_1 .child_3 .farhan .detail_1 {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--color-gray);
}

main .testimonials .container_2 .parent_1 .child_3 .farhan .detail_2 {

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

main .testimonials .container_2 .parent_1 .child_3 .farhan .detail_2 .img_farhan {

    width: 32px;
}

main .testimonials .container_2 .parent_1 .child_3 .farhan .detail_2 .img_farhan img {

    width: 100%;
}

main .testimonials .container_2 .parent_1 .child_3 .farhan .detail_2 .para_farhan {

    display: flex;
    flex-direction: column;
    gap: 4px;
}

main .testimonials .container_2 .parent_1 .child_3 .farhan .detail_2 .para_farhan h1 {

    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    text-transform: uppercase;
    color: var(--color-black);
}

main .testimonials .container_2 .parent_1 .child_3 .farhan .detail_2 .para_farhan p {

    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 4%;
    color: var(--color-gray);
}





main .testimonials .container_2 .parent_2 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


main .testimonials .container_2 .parent_2 .child_1 {

    width: 25%;
    height: 233px;
    border-radius: 24px;
    background-color: var(--bg-blue);
}

main .testimonials .container_2 .parent_2 .child_1 .Experienced {

    padding: 24px 33px 24px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

main .testimonials .container_2 .parent_2 .child_1 .Experienced h1 {

    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -4%;
    text-transform: uppercase;

}

main .testimonials .container_2 .parent_2 .child_1 .Experienced p {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--color-light-gray);

}



main .testimonials .container_2 .parent_2 .child_2 {

    width: 38%;
    height: 233px;
    border-radius: 24px;
    background-color: var(--bg-pure-white);
}

main .testimonials .container_2 .parent_2 .child_2 {

    width: 38%;
    height: 233px;
    border-radius: 24px;
    background-color: var(--bg-pure-white);
}

main .testimonials .container_2 .parent_2 .child_2 .hussain {

    display: flex;
    flex-direction: column;
    padding: 24px 32px 24px 16px;
}

main .testimonials .container_2 .parent_2 .child_2 .hussain .detail_1 {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--color-gray);
}

main .testimonials .container_2 .parent_2 .child_2 .hussain .detail_2 {

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

main .testimonials .container_2 .parent_2 .child_2 .hussain .detail_2 .img_hussain {

    width: 32px;
}

main .testimonials .container_2 .parent_2 .child_2 .hussain .detail_2 .img_hussain img {

    width: 100%;
}

main .testimonials .container_2 .parent_2 .child_2 .hussain .detail_2 .para_hussain {

    display: flex;
    flex-direction: column;
    gap: 4px;
}

main .testimonials .container_2 .parent_2 .child_2 .hussain .detail_2 .para_hussain h1 {

    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    text-transform: uppercase;
    color: var(--color-black);
}

main .testimonials .container_2 .parent_2 .child_2 .hussain .detail_2 .para_hussain p {

    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 4%;
    color: var(--color-gray);
}



main .testimonials .container_2 .parent_2 .child_3 {

    width: 32%;
    height: 233px;
    border-radius: 24px;
    background-color: var(--bg-orange);
}

main .testimonials .container_2 .parent_2 .child_3 .students {

    padding: 24px 33px 24px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

main .testimonials .container_2 .parent_2 .child_3 .students h1 {

    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -4%;
    text-transform: uppercase;

}

main .testimonials .container_2 .parent_2 .child_3 .students p {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--color-light-gray);

}


/* ---------------------------- Home testimonials ended ----------------------------- */


/* ---------------------------- Home Footer started ----------------------------- */

footer{

    width: 100%;
    height: 197px;
    border-radius: 48px 48px 0px 0px;
    background: linear-gradient(248.24deg, #163E74 34.86%, #0078AA 99.26%);
}

/* ---------------------------- Home Footer ended ----------------------------- */

@media (max-width: 1440px) {

    /* ---------------------------- Home Container_1 Started ----------------------------- */

    .Container_1 {

        margin-top: 0px;
        gap: 50px;
    }

    .Container_1 .parent_1 {

        width: 45%;
    }

    .Container_1 .parent_1 h1 {

        font-size: 42px;
        line-height: 57.2px;
    }

    .Container_1 .parent_2 {

        width: 45%;

        display: flex;
        flex-direction: column;
    }

    /* ---------------------------- Home Container_1 Ended ----------------------------- */

}


@media (max-width: 1250px) {

    /* ---------------------------- Home testimonials started ----------------------------- */

    main .testimonials .container_2 .parent_1 .child_1 .Ayesha {

        padding: 6px 0px 0px 10px;
    }

    main .testimonials .container_2 .parent_1 .child_2 .Passing {

        padding: 6px 0px 0px 10px;

        gap: 50px;
    }

    main .testimonials .container_2 .parent_1 .child_2 .Passing h1 {

        font-size: 26px;
    }


    main .testimonials .container_2 .parent_1 .child_3 .farhan {

        padding: 6px 4px 0px 10px;
    }


    main .testimonials .container_2 .parent_2 .child_1 .Experienced {

        padding: 6px 0px 0px 10px;

        gap: 30px;
    }

    main .testimonials .container_2 .parent_2 .child_1 .Experienced h1 {

        font-size: 26px;
    }


    main .testimonials .container_2 .parent_2 .child_2 .hussain {

        padding: 6px 0px 0px 10px;

        gap: 20px;
    }



    main .testimonials .container_2 .parent_2 .child_3 .students {

        padding: 6px 4px 0px 10px;

        gap: 53px;
    }

    main .testimonials .container_2 .parent_2 .child_3 .students h1 {

        font-size: 26px;
    }

    /* ---------------------------- Home testimonials ended ----------------------------- */


}


@media (max-width: 1024px) {


    /* ---------------------------- Home Header Started ----------------------------- */

    header {

        height: 680px;
    }


    /* ---------------------------- home Navbar Started ----------------------------- */
    header nav {

        width: 100%;
        height: 120px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
    }

    header nav .parent_2 {

        gap: 20px;
    }

    /* ---------------------------- Home Navbar Ended ----------------------------- */


    /* ---------------------------- Home Container_1 Started ----------------------------- */

    .Container_1 {

        margin-top: 0px;
        gap: 50px;
    }

    .Container_1 .parent_1 {

        width: 40%;
    }

    .Container_1 .parent_1 h1 {

        font-size: 36px;
        line-height: 47.2px;
    }

    .Container_1 .parent_2 {

        width: 50%;

        display: flex;
        flex-direction: column;
    }

    /* ---------------------------- Home Container_1 Ended ----------------------------- */

    /* ---------------------------- Home Header Ended ----------------------------- */



    /* ---------------------------- Home Benefits started ----------------------------- */

    main {

        padding: 0px 100px;
    }

    main .Benefits {

        width: 100%;
        margin: 50px 0px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    main .Benefits .container_1 {

        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    main .Benefits .container_1 .parent_2 {

        width: 100%;
    }

    main .Benefits .container_1 .parent_3 {

        width: 100%;
    }


    main .Benefits .container_2 .parent_1 {

        padding: 0px 0px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
    }


    main .Benefits .container_2 div div {

        margin-top: 10px;
    }

    main .Benefits .container_2 .parent_1 #child_4 {

        display: block;
    }

    main .Benefits .container_2 .parent_1 .child_1 {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 16px;
    }

    main .Benefits .container_2 .parent_1 .child_2 {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 16px;

    }

    main .Benefits .container_2 .parent_1 .child_3 {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 16px;
    }


    main .Benefits .container_2 .parent_2 {

        padding: 10px 0px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
    }

    main .Benefits .container_2 .parent_2 .child_1 {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 16px;
    }

    main .Benefits .container_2 .parent_2 .child_2 {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 16px;

    }

    main .Benefits .container_2 .parent_2 .child_3 {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 16px;
    }

    main .Benefits .container_2 .parent_2 .block {

        display: block;
    }

    main .Benefits .container_2 div div div h1 {

        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
        color: var(--color-black);
        text-transform: uppercase;

    }

    main .Benefits .container_2 div div div p {

        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 4%;
        color: var(--color-gray);

    }

    /* ---------------------------- Home Benefits ended ----------------------------- */


    /* ---------------------------- Home testimoials ended ----------------------------- */

    main .testimonials .container_1 .parent_3 {

        width: 100%;
    }

    /* ---------------------------- Home testimoials ended ----------------------------- */




    /* ---------------------------- Home testimonials started ----------------------------- */

    main .testimonials .container_2 .parent_1 {

        display: flex;
        flex-direction: column;
        gap: 30px;
    }



    main .testimonials .container_2 .parent_1 .child_1 {

        width: 100%;
        height: 180px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .testimonials .container_2 .parent_1 .child_1 .Ayesha {

        display: flex;
        justify-content: space-around;
        gap: 20px;
    }



    main .testimonials .container_2 .parent_1 .child_2 {

        width: 100%;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    main .testimonials .container_2 .parent_1 .child_2 .Passing {

        width: 100%;
        padding: 10px 10px;

        display: flex;
        justify-content: space-around;
        gap: 0px;
    }




    main .testimonials .container_2 .parent_1 .child_3 {

        width: 100%;
        height: 180px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .testimonials .container_2 .parent_1 .child_3 .farhan {

        display: flex;
        justify-content: space-around;
        gap: 20px;
    }



    main .testimonials .container_2 .parent_2 {

        display: flex;
        flex-direction: column;
        gap: 30px;
    }



    main .testimonials .container_2 .parent_2 .child_1 {

        width: 100%;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    main .testimonials .container_2 .parent_2 .child_1 .Experienced {

        width: 100%;
        padding: 10px 10px;

        display: flex;
        justify-content: space-around;
        gap: 0px;
    }



    main .testimonials .container_2 .parent_2 .child_2 {

        width: 100%;
        height: 180px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .testimonials .container_2 .parent_2 .child_2 .hussain {

        display: flex;
        justify-content: space-around;
        gap: 20px;
    }



    main .testimonials .container_2 .parent_2 .child_3 {

        width: 100%;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    main .testimonials .container_2 .parent_2 .child_3 .students {

        width: 100%;
        padding: 10px 10px;

        display: flex;
        justify-content: space-around;
        gap: 0px;
    }



    /* ---------------------------- Home testimonials ended ----------------------------- */



}


@media (max-width: 768px) {


    /* ---------------------------- Home Header Started ----------------------------- */

    header {

        height: 900px;
        border-radius: 56px;
    }


    /* ---------------------------- home Navbar Started ----------------------------- */

    header nav {

        display: none;
    }

    /* ---------------------------- Home Navbar Ended ----------------------------- */


    /* ---------------------------- Home Navbar 2 started ----------------------------- */

    header .nav2Box {

        border-radius: 56px 56px 0px 0px;

        display: flex;
        flex-direction: column;
    }

    header .nav2Box .parent_1 {

        height: 120px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 300px;
    }

    header .nav2Box .parent_1 .child_2 #menu {

        width: 100%;
        height: 100%;
        font-size: 34px;
        color: var(--color-yellow);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .nav2Box .parent_1 .child_2 #cut {

        width: 100%;
        height: 100%;
        font-size: 40px;
        color: var(--color-yellow);

        display: flex;
        justify-content: center;
        align-items: center;

        display: none;
    }


    header .nav2Box .parent_2 {

        width: 100%;
        height: 140px;

        position: absolute;
        top: 118px;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

    }


    header .nav2Box .parent_2 .child_1 a {

        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: var(--color-pure-white);
    }

    header .nav2Box .parent_2 .child_1 a:hover {

        font-size: 18px;
        transition: all 0.6s;
        color: var(--color-black);
    }

    header .nav2Box .parent_2 .child_1 a:hover {

        font-size: 18px;
        transition: all 0.4s;
        color: var(--color-black);
    }

    header .nav2Box .parent_2 .child_1 {

        display: flex;
        gap: 30px;
    }

    header .nav2Box .parent_2 .child_2 button {

        width: 120px;
        height: 38px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 8px;
        color: var(--color-yellow);
        background-color: transparent;
        border: 1px solid var(--color-yellow);
    }

    header .nav2Box .parent_2 .child_2 button:hover {

        font-size: 18px;
        font-weight: 700;
        border-style: none;
        border-radius: 4px;
        transition: all 0.6s;
        border: 1px solid none;
        color: var(--color-dark-blue);
        background-color: var(--color-yellow);
    }

    /* ---------------------------- Home Navbar 2 Ended ----------------------------- */


    /* ---------------------------- Home Container_1 Started ----------------------------- */

    .Container_1 {

        height: 100%;
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
    }

    .Container_1 .parent_1 {

        width: 90%;
    }

    .Container_1 .parent_1 h1 {

        font-size: 36px;
        line-height: 47.2px;
    }

    .Container_1 .parent_2 {

        width: 90%;

        display: flex;
        flex-direction: column;
    }


    /* ---------------------------- Home Container_1 Ended ----------------------------- */

    /* ---------------------------- Home Header Ended ----------------------------- */


    /* ---------------------------- Home main Ended ----------------------------- */

    main {

        padding: 0px 10px;
    }


    main .Benefits .container_1 .parent_2 br {

        display: none;
    }

    main .Benefits .container_1 .parent_2 {

        font-size: 36px;
    }


    /* ---------------------------- Home main Ended ----------------------------- */
}


@media (max-width: 425px) {

    /* ---------------------------- Home Navbar 2 started ----------------------------- */

    header {

        height: 800px;
        border-radius: 26px;
    }

    header .nav2Box {

        border-radius: 26px 26px 0px 0px;
    }

    header .nav2Box .parent_1 {

        gap: 100px;
    }

    header .nav2Box .parent_1 .child_1 img {

        width: 70px;
    }

    header .nav2Box .parent_2 {

        display: flex;
        flex-direction: column;
        gap: 30px;

        width: 100%;
        height: 250px;
    }

    header .nav2Box .parent_2 .child_1 {

        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    header .nav2Box .parent_2 .child_1 a {

        font-size: 16px;
    }



    header .nav2Box .parent_2 .child_2 button {

        width: 150px;
        font-size: 16px;
        border-radius: 8px;
    }

    /* ---------------------------- Home Navbar 2 Ended ----------------------------- */


    /* ---------------------------- Home Container_1 Started ----------------------------- */

    .Container_1 {

        height: 100%;
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
    }

    .Container_1 .parent_1 {

        width: 98%;
    }

    .Container_1 .parent_1 h1 {

        font-size: 34px;
        line-height: 42.2px;
        text-align: center;
    }

    .Container_1 .parent_1 p {

        text-align: center;
    }



    .Container_1 .parent_1 {

        gap: 10px;
    }


    .Container_1 .parent_1 .buttons {

        display: flex;
        justify-content: center;
        align-items: center;
    }


    .Container_1 .parent_1 .buttons .view {

        width: 126px;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        border-style: none;
        border-radius: 8px;
        border: 1px solid none;
        color: var(--color-dark-blue);
        background-color: var(--color-yellow);
    }


    .Container_1 .parent_1 .buttons .view:hover {

        width: 126px;
        height: 48px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 8px;
        transition: all 0.6s;
        color: var(--color-yellow);
        background-color: transparent;
        border: 1px solid var(--color-yellow);
    }


    .Container_1 .parent_1 .buttons .About {

        width: 126px;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
        color: var(--color-yellow);
        background-color: transparent;
        border: 1px solid var(--color-yellow);
    }


    .Container_1 .parent_1 .buttons .About:hover {

        width: 126px;
        height: 48px;
        font-size: 18px;
        font-weight: 700;
        border-style: none;
        border-radius: 8px;
        transition: all 0.6s;
        border: 1px solid none;
        color: var(--color-dark-blue);
        background-color: var(--color-yellow);
    }



    .Container_1 .parent_2 {

        width: 100%;
        height: 800px;

        display: flex;
        flex-direction: column;
    }

    .Container_1 .parent_2 img {

        border-radius: 0px;
    }


    /* ---------------------------- Home Container_1 Ended ----------------------------- */



    /* ---------------------------- Home testimonials started ----------------------------- */

    main .testimonials .container_2 .parent_1 .child_1 {

        height: 280px;
        padding: 10px 10px;
    }



    main .testimonials .container_2 .parent_1 .child_2 {

        height: 180px;
        padding: 10px 10px;
    }



    main .testimonials .container_2 .parent_1 .child_3 {

        height: 280px;
        padding: 10px 10px;
    }



    main .testimonials .container_2 .parent_2 .child_1 {

        height: 180px;
        padding: 10px;
    }



    main .testimonials .container_2 .parent_2 .child_2 {

        height: 280px;
        padding: 10px 10px;
    }


    main .testimonials .container_2 .parent_2 .child_3 {

        height: 180px;
    }


    /* ---------------------------- Home testimonials ended ----------------------------- */


}